body {
    background-color: honeydew;
    font-family: raleway, sans-serif;
}
nav {
    background-color: grey;
    position: fixed;
    width: 100vw;
    height: 50px;
    left: 0px;
    top: 0px;
    z-index: 1;
}
nav ul li {
    float: left;
    margin-right: 50px;
    list-style-type: none;
    text-align: center;
}
.nav-link:hover {
    color: darkred;

}
#contact {
    float: right;
}
#main-header{
margin-top: 50px;
font-style: italic;
text-align: center;
}
#ruger-main{
    width: 800px;
    height: 900px;
    margin-left: 300px;
    
}


.pics{
    margin-top: 50px;
    margin-left: 150px;
    align-items: center;
    height: 450px;
    width: 450px;
    padding-right: 50px;
}
#contact-form{
    text-align: center;
    background-color: grey;
    margin-top: 100px;
    margin: none;
    margin-left: 548px;
    margin-right: 545px;
    height: 300px;

}
.navbar2{
    list-style-type: none;
    margin-left: 575px;
}
